[user]
    name = bioerrorlog
    email = bioerrorlog.contact@gmail.com

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    ad = add .
    cm = commit -m
    cam = commit --amend
    ss = status
    ps = push origin HEAD
    cb = checkout -b
    lg = log --oneline
    review = diff origin/main...

[core]
    editor = vim

[credential]
    helper = store

[init]
    defaultBranch = main
