[user]
    name = bioerrorlog
    email = bioerrorlog.contact@gmail.com

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    aa = add .
    cc = commit -m
    ss = status --short
    pp = push origin HEAD
    dd = diff .
    dda = diff --staged
    lg = log --oneline
    review = diff origin/main...
    amend = commit --amend

[core]
    editor = vim

[credential]
    helper = store

[init]
    defaultBranch = main
